VITE_SUPABASE_URL=https://bjiezorickvcybhctleq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqaWV6b3JpY2t2Y3liaGN0bGVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDU1NTYsImV4cCI6MjA5NjkyMTU1Nn0.g5TBQTj2W30qd6vY0RkJ7PAPymWutmbFe0xkMeBdbaI
